Source: mint-lxde-default-settings
Section: admin
Priority: required
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), intltool
Standards-Version: 3.9.5
Homepage: http://linuxmint.pl
Vcs-Browser: https://github.com/linuxmintpl/mint-lxde-default-settings
Vcs-Git: https://github.com/linuxmintpl/mint-lxde-default-settings.git

Package: mint-lxde-default-settings
Depends: ${misc:Depends}, mintsystem, lxpanel, mint-artwork-lxde, lxsession, 
 fonts-liberation, lxsession-logout
Recommends: scrot, openbox | xfwm4, pcmanfm | spacefm
Architecture: all 
Description: This Package contains the default system settings for Linux Mint LXDE Edition.
